html

head
meta(charset='utf-8')
style
	include ../node_modules/bootstrap/dist/css/bootstrap.min.css
	include style.css
title= title

body
p Hello
script
	include ../node_modules/jquery/dist/jquery.min.js
	include ../node_modules/moment/min/moment.min.js
	include ../node_modules/tether/dist/js/tether.min.js
	include ../node_modules/bootstrap/dist/js/bootstrap.min.js