.selected {
	background-color: brown;
	color: #FFF;
}

.hiddenRow {
	padding: 0 !important;
}

body {
	color: #818c46;
	background-color: #000;
}

form,
input,
nav,
textarea {
	background-color: #000!important;
	/* background-color: #f9f8ef; */
}

div.progress-bar {
	color: #888c90;
	background-color: #818c46;
}

a:hover {
	color: #616c36;
}

a {
	color: #818c46;
}

button.btn.btn-secondary {
	color: #ffffff;
	background-color: #818c46;
}

button.btn.btn-secondary:hover {
	color: #ffffff;
	background-color: #616c36;
}

.nav-link small {
	display: block;
	font-size: 10px;
}

.row-x .uie {
	font-size: 2vh;
}

.uie {
	width: 100%;
	height: 100%;
	display: inline;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.uie:hover {
	filter: brightness(1.2);
	border-top-color: #818c46;
	border-bottom-color: #818c46;
}

input,
textarea {
	width: 100%;
}