@media screen and (-webkit-min-device-pixel-ratio:0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body.dark {
	color: #777;
	background-color: #000;
}

body.light {
	background-color: #ddd;
	color: #111;
}

.titlebar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	height: 10px;
}

.window-button {
	border-width: 1px;
	border-radius: 10px;
	width: 10px;
	font-size: 5px;
	margin: 0;
	padding: 0;
	display: block;
}

.dark .window-button {
	background-color: #777;
	border-color: #444;
}

.selected {
	background-color: #818c46;
	color: #FFF;
}

.hiddenRow {
	padding: 0 !important;
}

#inputOptions {
	display: none;
}

.dark form,
.dark input,
.dark nav,
.dark table,
.dark tbody,
.dark td,
.dark textarea,
.dark th,
.dark tr {
	background-color: #000!important;
	color: #eee;
}

div.progress-bar {
	color: #888c90;
	background-color: #818c46;
}

.btn.active,
.btn:active,
.btn:focus,
.tab.active,
.tab:active,
.tab:focus {
	outline: 0;
	box-shadow: none;
}

.tog {
	border-radius: 0.25rem;
}

.btn,
.tog {
	background-color: #818c46;
}

.light .btn,
.light .tog {
	color: #eee;
}

.btn.disabled,
.tog.disabled {
	background-color: #444;
}

.light .btn.disabled {
	background-color: #000;
}

.light .tog.disabled {
	color: #777;
	background-color: #444;
}

.tog-l {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tog-r {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.tab {
	border-radius: 15px 15px 0 0;
	background-color: #000!important;
	color: #818c46;
	border-top: #818c46 6px solid !important;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}

.tab.disabled {
	color: #777;
	border-top: #777 6px solid !important;
}

.tab:hover {
	border-bottom: 0;
}

.text-align-center {
	text-align: center;
}

.nav-link small {
	display: block;
	font-size: 10px;
}

.uie {
	width: 100%;
	height: 100%;
	display: inline;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	font-size: 16px;
	font-weight: bold;
}

.tbar {
	background-color: transparent;
}

.uie:hover {
	filter: brightness(1.2);
}

.uie.disabled,
.uie.link.disabled {
	color: #777;
}

.uie.link {
	color: #818c46;
}

.uie.link.cursor {
	border: #818c46 1px solid;
	border-left: 0;
	border-right: 0;
}

.td-has-input {
	font-size: 0;
}

td input {
	font-size: 16px;
	border-width: 0;
}

div.float-left.search {
	width: 100%!important;
}

input,
textarea {
	width: 100%;
	height: 100%;
}
@font-face {
	font-family: IBMPlexMono;
	src: local("IBM Plex Mono Regular"), local("IBMPlexMono-Regular"), url("../fonts/IBMPlexMono-Regular.ttf");
	font-weight: regular;
}
@font-face {
	font-family: IBMPlexMono;
	src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"), url("../fonts/IBMPlexMono-Bold.ttf");
	font-weight: bold;
}

body {
	font-family: IBMPlexMono;
}

span.card-view-value {
	display: inline-block;
}

#loadInFiles .uie {
	word-break: break-all;
	text-align: left;
}

#nav-bottom {
	background-color: #ddd;
}

.form-check-input {
	margin-top: 0.09em;
}

input.uneditable {
	background-color: #ddd;
}

h1 {
	text-align: center;
}

#back {
	text-align: left;
	margin: 0;
	padding: 0;
}